* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    color: #454545;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


#app {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleBar {
    width: 100%;
    background-color: #1bd3b4;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 20px   50px;
}

.campaignList {
    margin: 1rem;
}
.campaignSummary {
    margin: 1rem;
    border-radius: .3125rem;
    border: 3px solid #e1e1e1;
    overflow: hidden;
    padding: 0.5em 2em 1em;
    width: 700px;
}
.campaignSummary:hover {
    border: 3px solid #1bd3b4;
    background-color: #effdfa;
    cursor: pointer;
}
.campaignSummary h1 {
    font-size: 20px;
    line-height: 1.3;
    margin: 0.5em 0;
}
.campaignSummary p {
    color: #959ca0;
    font-size: 0.8rem;
}
.campaignSummary .subtitle {
    font-weight: bold;
}